.info-comming-soon{
	text-align: center;
	font-size: 30px;
	color: #8c8c8c;
	padding-top: 70px;
}

.info-chart{
	text-align: center;
	font-size: 20px;
	color: #8d8d8d;
	padding-top: 20px;
}
